

/* @tailwind base;
@tailwind components;
@tailwind utilities; */

html,
body,
#root {
  min-height: 100%;
  margin: 0;
  overflow-y: auto;
}

body {
  overflow-x: hidden; /* optional, keeps horizontal clean */
}
