 .marquee-container2 {
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    justify-content: center;
}
            
.marquee-text {
  display: inline-block;
  animation: fadeIn 2s ease-in-out;
}
              
              @keyframes fadeIn {
                0% {
                  opacity: 0;
                  transform: translateY(-20px);
                  }
                  100% {
                    opacity: 1;
                    transform: translateY(0);
                    }
                    }